/*========СТАНДАРТНЫЕ  НАСТРОЙКИ===============*/

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/*========СТАНДАРТНЫЕ  НАСТРОЙКИ===============*/

body {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Akrobat';
}


/*=========================ШАПКА======================*/

.bgcolor {
    width: 100%;
    height: 100%;
    z-index: -100;
    position: absolute;
}

.logotype {
    max-width: 200px;
    max-height: 150px;
    margin-top: 70px;
    position: relative;
    z-index: 20;
}

.caption {
    z-index: 20;
}

.caption h4 {
    color: #f8b410;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Akrobat';
    margin-top: 90px;
    font-weight: bold;
}

.btn {
    width: 60px;
    height: 60px;
    background-color: black;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    top: 70px;
}

.btn div {
    display: block;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.btn:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 4px;
    -webkit-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
    -o-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.btn:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 4px;
    -webkit-transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
    -o-transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.btn:hover:before,
.btn:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.btn:hover:before {
    -webkit-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
    -o-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.btn:hover:after {
    -webkit-transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
    -o-transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.sandwich {
    width: 45px;
    height: 22px;
    position: absolute;
    top: 17px;
    left: 7px;
    z-index: 150;
}

.sw-top,
.sw-mid,
.sw-foot {
    width: 45px;
    height: 3px;
    background: #ffffff;
    position: relative;
    border: none;
}

.sw-top {
    top: 1px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
}

.sw-mid {
    top: 7px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
}

.sw-foot {
    top: 13px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
}

.top-txt {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
}

.top-sur:before {
    content: "";
    display: inline-block;
    height: 40%;
    vertical-align: middle;
}

.top-sur {
    height: 100%;
}

.top-sur div {
    vertical-align: middle;
}

.sandwich.active .sw-top {
    top: 10px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

.sandwich.active .sw-mid {
    top: 7px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
}

.sandwich.active .sw-foot {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.top-sur h1 {
    color: #f8b410;
    text-transform: uppercase;
    border: 4px solid #fff;
    padding: 15px 20px;
    font-family: 'Akrobat';
    letter-spacing: 3px;
    margin-bottom: 150px;
    display: inline-block;
}

.top-txt p {
    color: #f8b410;
    font-size: 18px;
    font-family: 'Akrobat';
    letter-spacing: 3px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}


/*=========================МЕНЮ======================*/

.menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    z-index: 50;
    right: 0;
    top: 0;
    text-align: center;
}

.menu ul {
    margin-top: 200px;
    padding: 0;
}

.menu ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li a {
    display: block;
    height: 70px;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Akrobat';
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menu ul li a:hover {
    background-color: transparent;
    color: #f8b410;
}

.menu ul li a span {
    display: block;
    position: relative;
    top: -45px;
    left: 0;
    height: 100%;
}


/*====================ОБО МНЕ=======================*/

.content hr {
    width: 150px;
    height: 1px;
    background: #333;
    margin-bottom: 50px;
}

.content h2 {
    margin-top: 80px;
    margin-bottom: 50px;
    color: #333;
    font-family: 'Akrobat';
}

.content h3 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Akrobat';
}

.content .me1,
.content .me2,
.content .me3 {
    width: 50px;
    /* картинка*/
    height: 60px;
    margin-bottom: 20px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.content .me1:hover,
.content .me2:hover,
.content .me3:hover {
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.some-about img {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.skils h2 {
    margin-top: 70px;
    color: #f8b410;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Akrobat';
}

.skils h4 {
    margin-top: 50px;
    color: #333;
}

.skils hr {
    width: 150px;
    height: 1px;
    background: #333;
}


/*====================ПОРТФОЛИО=======================*/

#portfolio {
    background: #f2f1ee;
    height: 770px;
}

.top-text-pt h2 {
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Akrobat';
}

.top-text-pt hr {
    width: 150px;
    height: 1px;
    background: #333;
}



.top-menu li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 50px 10px 30px 10px;
}

.top-menu li {
    text-decoration: none;
    text-transform: uppercase;
    color: #f8b410;
    font-weight: bold;
    border: none;
    padding: 5px 10px 2px 10px;
}

.top-menu li:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #333;
}

.top-menu .active {
    color: #f89310;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #f89310;
}

.content-potfol {
    margin-top: 100px;
    margin-bottom: 50px !important;
}

.work-cont {
    position: relative;
}

.work-cont,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3 {
    padding: 0 !important;
}

.work {
    width: 100%;
    height: 200px;
}

.port-item-cont {
    position: absolute;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.port-item-cont h4 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    top: -100px;
    opacity: 0;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.port-item-cont p {
    padding-top: 30px;
    color: #fff;
    font-size: 12pt;
    margin-bottom: 30px;
    opacity: 0;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.port-item-cont button {
    position: relative;
    text-decoration: none;
    color: #fff;
    top: 66px;
    background: #f8b410;
    padding: 5px 10px;
    border: 1px solid #f8b410;
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.port-item-cont button:hover {
    border: none;
    background: #f89310;
    text-decoration: none;
    font-size: 14pt;
    color: #fff;
}

.work-cont:hover h4 {
    top: 0px;
    opacity: 1;
}

.work-cont:hover button {
    top: 0px;
    opacity: 1;
}

.work-cont:hover .port-item-cont,
.work-cont:hover p {
    opacity: 1;
}

.article-potf {
    margin-bottom: 50px;
}



/*====================ПОДРОБНЕЕ======================*/

.more-info {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    background-size: cover;
    z-index: 25;
    top: 0;
    left: 0;
    text-align: center;
}

.more-info img {
    margin-top: 50px;
    left: 50%;
}

.more-info p {
    position: absolute;
    color: #000;
    font-weight: bold;
    top: 13%;
    right: 0;
    padding: 5px 6px;
    background: #fff;
    cursor: pointer;
}

.more-info p:hover {
    background: #f8b410;
    font-size: 14pt;
}


/*====================КОНТАКТЫ======================*/

.top-text-comm h2 {
    margin-top: 70px;
    margin-bottom: 50px;
    color: #f8b410;
    font-family: 'Akrobat';
}

.top-text-comm hr {
    width: 150px;
    height: 1px;
    background: #333;
}

.top-text-comm h4 {
    margin-top: 70px;
    font-family: 'Akrobat';
    font-weight: bold;
}

.info {
    margin-top: 100px;
}

.contact-box {
    padding-bottom: 20px;
}

.contact-box a {
    color: #333;
    text-decoration: none;
}

.contact-box a:hover {
    text-decoration: underline;
    color: #f89310;
}

.contact-box .fa-vk:before,
.contact-box .fa-skype:before,
.contact-box .fa-envelope-o:before,
.contact-box .fa-desktop:before {
    font-size: 64px;
}

.top-text-message {
    text-align: left;
}

.top-text-message h4 {
    font-family: 'Akrobat';
    font-weight: bold;
}

.message {
    text-align: left;
}

.message input {
    padding: 5px 20px;
    color: #f8b410;
}

.message textarea {
    padding: 5px 20px;
    color: #f8b410;
}

.message .btn-sub {
    background: #f8b410;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 14pt;
    text-align: center;
    border-radius: 5px;
    font-family: 'Akrobat';
}

.message .btn-sub:hover {
    background: #f89310;
}


/*==================ПОДВАЛ====================*/

footer {
    margin-top: 50px;
    background: url(../img/bg.png);
    height: 100px;
}

footer .text-info {
    margin-top: 40px;
    color: #eee;
}

footer .fa-vk {
    color: #f8b410;
    margin-top: 40px;
}


/*==================МОДАЛЬНОЕ ОКНО====================*/

.modal img {
    width: 500px;
}
